
<app-cabecera></app-cabecera>


  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h3 class="margin">Soy Damian Vogel</h3>
    <img src="./assets/imagenes/ww.jpg" class="img-responsive img-circle margin imagenDeQuienSoy" style="display:inline" alt="Foto del Alumno" >
    <h3>Soy Un alumno de la UTN FRA</h3>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Esto es un trabajo práctico</h3>
    <p>Mi juego se basa en una lucha "cuerpo a cuerpo" contra una de las Inteligencias Artificiales mas avanzadas de nuestro tiempo. En este juego combatiras contra SKYNET que no tendra piedad!!!! 
      El juego es el 21 con dados. Es una modificacion del Blackjack donde el primer turno es para el usuario que cuenta con 3 tiros. Si se pasa de 21 pierde automaticamente. Puede plantarse en cualquier tiro y esperar la resolucion de la IA.
      SKYNET contara con 3 tiros y esta programada para ganar o autodestruirse. No puede plantarse si no gana! Por lo tanto utilizara sus 3 tiros si es necesario. En caso de empate, gana el usuario! SUERTE! LA NECESITARAS!
    </p>

    </div>
  
  <!-- Third Container (Grid) -->
  <div id ="donde" class="container-fluid bg-3 text-center">    
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
 