.juego{
    position: relative;
    display: inline-flex;
    height: 100%;
    width: 100%;
}
.tablero{
    height: 50%;
    width: 50%;
    margin-left: 20%;
}
.casilla-tateti{

    height: 150px;
    width: 150px;
    border-style: solid;
    border: width 2px;
    background-color: cadetblue;


}
.info{
    position: relative;
    float: right;

}
.imgInfo{
    height: 50%;
    width: 60%;
}
.imgCasilla{
    height: 60%;
    width: auto;
    margin: 20% 10%;
    
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
   
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 40px;
}
#snackbar.Ganador {
    background-color: #059f2c;
}
#snackbar.Perdedor {
    background-color: #FF0000;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 5.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.centro{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    border: 10px solid #fff;
    background: rgb(52, 196,#FF0000);
    text-align: center;
    align-items: center;
}
/* 
.centro h2{
    border: 10px solid #FF0000;
    


} */

.centro form{
    width: fit-content;


}

.centro button{
    width: fit-content;
    font: normal;
    cursor: pointer;
}