<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    {{nuevoJuego.nombre}}!
  </h1>
</div>

<h1 *ngIf="nuevoJuego.acumUsuario"  >Usuario: {{nuevoJuego.acumUsuario}}</h1>
<h1 *ngIf="nuevoJuego.acumIA"  >Usuario: {{nuevoJuego.acumIA}}</h1>


<form name="juego">
   
    
    <h2 *ngIf="comenzar"><button   (click)="Comenzar()" class="btn btn-success btn-lg">Comenzar!</button></h2>
    <h2 *ngIf="tirarDados"><button   (click)="Desarrollo()" class="btn btn-success btn-lg">Tirar Nuevamente!</button></h2>
    <h2 *ngIf="plantarse"><button   (click)="Resolucion()" class="btn btn-success btn-lg">Plantarse!</button></h2>

</form>

<!-- 
  <div id="snackbar">{{Mensajes}}</div>
-->