<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="centro">
  <div style="text-align:center">
    <h1>
      {{nuevoJuego.nombre}}!
    </h1>
  </div>

  <h1 *ngIf="nuevoJuego.acumUsuario"  >Usuario: {{nuevoJuego.acumUsuario}}</h1>
  <h1 *ngIf="nuevoJuego.acumIA"  >Skynet: {{nuevoJuego.acumIA}}</h1>

  <form class="centro" name="juego"> 
    
    <h2 *ngIf="tirarDados"><button   (click)="Desarrollo()" class="btn btn-success btn-lg">Tirar Dados!</button></h2> 
    
    <h2 *ngIf="plantarse"><button   (click)="Resolucion()" class="btn btn-success btn-lg">Plantarse!</button></h2>
    <h2 *ngIf="deNuevo"><button   (click)="constructor()" class="btn btn-success btn-lg">Jugar de nuevo!</button></h2>
  </form>


  <div id="snackbar">{{Mensajes}}</div>
</div>