<div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/cerebro.gif" alt="Avatar" style="width:100%">
      <h1>Agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
     
  
      
      <p>           
        <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
        <p>   <button class="button"  (click)="Juego('AgilidadaMasListado')">Jugar+Listado</button>
      </p>
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
     
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juego de estrategia</p>
      
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
      <p>              <button class="button"  (click)="Juego('AdivinaMasListado')">Jugar+Listado</button></p>
      
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/dados.jpg" alt="Avatar" style="width:100%">
      <h1>Mi Juego</h1>
      <p class="title">Juego de Dados</p>
      
      <p>           <button class="button"  (click)="Juego('Dados')">Jugar</button></p>
    </div>
  
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/tateti.jpg" alt="Avatar" style="width:100%">
      <h1>TA TE TI</h1>
      <p class="title">Juego Clasico</p>
     
      <p>           <button class="button"  (click)="Juego('Tateti')">Jugar</button></p>
    </div>

    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/anagrama.jpg" alt="Avatar" style="width:100%">
      <h1>Anagrama</h1>
      <p class="title">Juego de Vacaciones</p>
      
      <p>           <button class="button"  (click)="Juego('Anagrama')">Jugar</button></p>
    </div>
  
  
  
  
  
  </div>