.contenedorJuego{
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: left;
    font-size: 18px;
}
.centro{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    border: 10px solid #f1f1f1;
    background: whitesmoke;
    text-align: center;
    align-items: center;
    
   
}

input{
    align-items: center;

}